/* text */

.light {font-weight: 300;}
.normal {font-weight: 400;}
.semibold {font-weight: 500;}
strong, .bold{ font-weight: 700;}

.italic {font-style: italic;}
.maj {text-transform: uppercase;}
.underline {text-decoration: underline;}
.cursor-pointer, .cp {cursor: pointer;}

.center {text-align: center;}

.clear {clear: both;}
.full{width: 100%;}
