


.top{
    margin: 20px;
  display: flex;
  justify-content: space-between;
}

.middle img{
    width: 200px;
    
}

.left{
    width: 20%;
}

.right{
    width: 25%;
 
    justify-content: space-around;
    
}

.left .btn{
border-radius: 30px;
width: 100px;
height: 40px;
background: transparent;
border:rgb(205, 222, 239) 1px solid ;
}

.right>a{
    text-decoration: none;
    color: black;
    font-weight: normal!important;
    margin-right: 20px;
    border-right: 1px solid lightslategray;
    padding-right: 20px;
}

.right a{
    text-decoration: none;
        color: black;
        font-weight: bold;
}

.right .btn:first-of-type{
    border-radius: 30px;
        width: 160px;
        height: 50px;
        background: transparent;
        border: rgb(205, 222, 239) 1px solid;
}

.right .btn:last-of-type {
    border-radius: 30px;
    width: 100px;
    height: 50px;
    background:rgb(243, 197, 31);
    border: rgb(205, 222, 239) 1px solid;
}



nav ul{
    display: flex;
    list-style: none;
    justify-content: center;
    border-bottom:solid 1px grey;
    border-top:solid 1px grey;

}

nav ul li{
    margin: 10px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    font-weight: bold;
}
nav a:hover{
    color:rgb(2, 195, 195) ;
}

nav ul li:nth-of-type(3),nav ul li:nth-of-type(12){
    border-right: 1px solid grey;
       padding-right: 5px;

}
  
nav ul li:nth-child(14) a, nav ul li:nth-child(13) a{
    color: rgb(93, 134, 169);
}

nav ul li:nth-child(14) a:hover,
nav ul li:nth-child(13) a:hover {
    color: rgb(15, 219, 241);
}

.active{
    color: rgb(2, 195, 195);
    font-weight: bold ;
    border-bottom: 2px solid rgb(2, 195, 195) ;  
}

.soldes{
    display: flex;
    justify-content: center;
   
}

.soldes img{
    height: 500px;
    width: 900px;
    
   
}