@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Shadows+Into+Light&display=swap');


.container{
    background: #273978;
    width: 50%;
    margin: 2vh auto;
    font-family: 'Shadows Into Light', cursive;
    color: #fff;

}

h1{
    font-style: 4em;
    text-align: center;
    margin-bottom: 1vh;
}

main{
    width: 90%;
    margin: auto;
}

figure{
    float: left;
    width: 22%;
    margin: 1vh 2vw;
}

figcaption{
text-align: center;
font-size: 1.5em;
}

img{
    width: 200px;
}

.clear{
    clear: both;
}