{% extends 'base.html.twig' %}

{% block title %}Hello AccessDeniedController!{% endblock %}

{% block body %}

<div class="alert alert-danger" role="alert">Vous n'avez pas le droit d'acceder à cette page</div>
<div class="container" style="display:flex; justify-content:center;padding: 50px;">
<img src="https://media.giphy.com/media/xyalr6LBFVobe/giphy.gif" alt="">
</div>
{% endblock %}
