/*  fonts et couleurs  */

* {
    font-family: 'Audi Type', sans-serif;
}

.AudiType700 {
    font-family: 'Audi Type Extended', sans-serif;
}

.Audired {
    color: #f50537;
    /*font-weight: strong;*/
}

/*  rhombus Audi Sports Red */
.rhombus {
    width: 22.4px;
    height: 26.52px;
    transform: skew(-27deg);
    font-size: 20px;
    line-height: 100px;
    background: #f50537;
}

/* Barre de navigation */
.navbar {
    text-align: center;
    width: 100%;
    background: #bebebe;
    padding: 0;
    margin: 0;
    height: 60px;
}

.navbar ul {
    background: white;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    height: 60px;
    z-index: 4;
}

.navbar ul li {
    display: inline-block;
}

.navbar ul li a {
    color: #333333;
    display: block;
    padding: 0 40px;
    text-decoration: none;
    float: left;
    height: 60px;
    line-height: 60px;
}

.navbar ul li:hover {
    background: #333333;
}

.navbar ul li:hover>a {
    color: #f2f2f2;
    text-decoration: none;
}

.navbar ul li:hover>ul {
    display: block;
}

.navbar ul ul {
    background: #BEBEBE;
    padding: 0;
    text-align: center;
    display: none;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
}

/* Styles spécifiques pour les éléments de la navbar */
.navbar .deconnexion,
.navbar .dashboard,
.navbar .connexion,
.navbar .inscription,
.navbar .panier {
    color: #333333;
    display: block;
    padding: 0 40px;
    text-decoration: none;
    float: left;
    height: 60px;
    line-height: 60px;
}

.navbar .deconnexion:hover,
.navbar .dashboard:hover,
.navbar .connexion:hover,
.navbar .inscription:hover,
.navbar .panier:hover {
    background: #333333;
    color: #f2f2f2;
}

.navbar .accueil {
    color: #333333;
    display: block;
    padding: 0 40px;
    text-decoration: none;
    float: left;
    height: 60px;
    line-height: 60px;
}

.navbar .accueil:hover {
    background: #333333;
    color: #f2f2f2;
}

/*  styles pour general et tricorps */
body {
    margin: 0;
    padding: 50;
    font-family: 'Audi Type Extended', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
    padding: 0;
    width: 100%
}

.section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    color: #fff;
    transition: flex .6s ease;
    position: relative;
}

.section .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    transition: background-color .8s ease;
}

.section .content {
    z-index: 2;
}

.section:hover {
    flex: 2;
}

.section:hover .overlay {
    background-color: rgba(0, 0, 0, 0.25);
}

#electrique {
    background-image: url(https://www.audi.fr/content/dam/nemo/models/e-tron/audi-e-tron/my-2019/1920x1080_gallery/1920_1080_A_E-TRON_181039.jpg);
}


#disponibles {
    background-image: url(https://audimediacenter-a.akamaihd.net/system/production/media/94172/images/5fd4b3e87a98fe7c2dea6f433b35c2151d0d9bd2/A205468_blog.jpg?1600111174);
}

#rs {
    background-image: url(https://www.scheidweg-garage.ch/wp-content/uploads/2019/08/Audi-RS6-Avant-Scheidweg-Garage-11.jpg);



}

.border {
    border: 1px solid black;
    padding: 15px 15px 15px;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*  sensible  */


/*  styles pour footer  */
.footer {
    width: 100%;
    position: absolute;
    height: auto;
    background-color: #000000;
    left: 0
}

.footer .col {
    width: 190px;
    height: auto;
    float: left;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 0px 20px 20px 20px;
}

.footer .col h1 {
    margin: 0;
    padding: 0;
    font-family: 'Audi Type', sans-serif;
    ;
    font-size: 14px;
    line-height: 17px;
    padding: 20px 0px 5px 0px;
    color: rgba(255, 255, 255, 255);
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.250em;
}

.footer .col ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.footer .col ul li {
    color: #999999;
    font-size: 12px;
    font-family: 'Audi Type', sans-serif;
    font-weight: normal;
    padding: 5px 0px 5px 0px;
    cursor: pointer;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s;
}

.social ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    color: #ffffff;
    transition: .1s;
    -webkit-transition: .1s;
    -moz-transition: .1s;
}

.clearfix {
    clear: both;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .social {
        width: 1000px;
        display: block;
    }

    .social h1 {
        margin: 0px;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 14px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }

    .footer .col h1 {
        font-size: 14px;
    }

    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}

#h1footer {
    padding: 20px;
    color: #e5e5e5;
    font-size: 12px;
}

.content h4 a {
    color: white;
    text-decoration: none;
}

.content h5 a {
    color: #333333;
    text-decoration: none;
}




.col-sm-4>span,
.col-sm-4>h1 {
    display: inline-block;
}

#Q7avantage {
    height: 600px;
    padding: 0px;
    background: black;
}

.container-fluid {
    padding: 0px !important;
}

/* Style des voitures */
.voitures {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.voiture {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    max-width: 250px;
}


/* Ajoutez ces styles pour uniformiser la taille des voitures */
.voiture {
    width: 200px;
    /* Largeur fixe pour chaque voiture */
    margin: 10px;
    /* Espace entre chaque voiture */
    text-align: center;
    /* Centrer le contenu */
}

/* Définissez une taille maximale pour les images */
.voiture img {
    max-width: 190px;
    /* Réglez la largeur à 100% pour maintenir la même largeur pour toutes les images */
    max-height: 110px;
    /* Réglez la hauteur maximale souhaitée */
    object-fit: cover;
    /* Remplit l'espace de manière proportionnée */
}


.voiture h2 {
    font-size: 18px;
    margin-top: 10px;
}

.voiture p {
    margin: 5px 0;
}

.voiture form {
    margin-top: 10px;
}

.voiture input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.voiture input[type="submit"]:hover {
    background-color: #555;
}

/* Styles pour le bouton de connexion */
.connexion {
    background-color: #007bff;
    /* Couleur de fond bleue */
    color: #fff;
    /* Couleur du texte blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

/* Styles pour le bouton de déconnexion */
.deconnexion {
    background-color: #dc3545;
    /* Couleur de fond rouge */
    color: #fff;
    /* Couleur du texte blanc */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* li {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 10px;
    padding: 10px;
}

li a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
}

li a:hover {
    background-color: #ddd;
    color: black;
} */

a#ajouter-voiture-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    /* Couleur de fond du bouton */
    color: #fff;
    /* Couleur du texte */
    text-decoration: none;
    /* Supprimer le soulignement du lien */
    border-radius: 5px;
    /* Coins arrondis */
    transition: background-color 0.3s ease;
    /* Animation de transition pour la couleur de fond */
}

/* Style au survol du lien */
a#ajouter-voiture-link:hover {
    background-color: #0056b3;
    /* Nouvelle couleur de fond au survol */
}